*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 7px;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.underline {
  width: 150px;
  height: 2px;
  background: rgb(68, 151, 105);
  margin-left: auto;
  margin-right: auto;
  }

.tour-item {
  width: 30%;
  margin: 50px auto;
  border-radius: 2%;
  border: 1px solid cadetblue;
  box-shadow: 3px 2px 2px cadetblue;
  padding-bottom: 8px;
  background-color:rgb(251, 253, 253);
}

.img {
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.item-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.tour-price {
  color:rgb(28, 29, 88);
  font-style: oblique;
}

.item-text {
  padding: 15px;
  text-align: center;
}

.item-text button {
  background-color: transparent;
  border: transparent;
  border-bottom:0.5px dotted #ddd;
  padding: 5px;
  color: rgb(39, 39, 177);
  cursor: pointer;
}

.btn-del {
  width: 30%;
  display: block;
  margin: auto;
  text-align: center;
  padding: 3px;
  background-color: rgb(235, 238, 240);
  border: 0.5px dotted #ddd;
  border-radius: 3px;
  cursor: pointer;
}

.btn {
  width: 30%;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 3px;
  background-color: rgb(235, 238, 240);
  border: 0.5px dotted #ddd;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 1568px) {
  .tour-item{
  width: 60%; 
  }
 
}

@media screen and (max-width: 800px) {
  .tour-item{
    width: 95%; 
    }
.item-info {
  display: block;
  justify-content: space-between;
  margin: 10px;
  }
}